<ul>
  <li>
    {{#if this.session.currentUser}}
      <span>
        Logged in as {{this.session.currentUser.name}}
      </span>
    {{else}}
      <LinkTo @route="login">Login</LinkTo>
    {{/if}}
  </li>
  <li>
    <LinkTo @route="playlists">Playlists</LinkTo>
  </li>
  <li>
    <LinkTo @route="about">About</LinkTo>
  </li>
</ul>

{{outlet}}